<h1 class="mb-4">Products</h1>
<br><br><br>
<!-- Search Form -->
<div class="mb-4">
  <%= form_with url: products_path, method: :get, local: true, class: "d-flex" do |form| %>
    <%= form.text_field :search, value: params[:search], class: "form-control me-2", placeholder: "Search products..." %>
    <%= form.submit "Search", class: "btn btn-outline-primary" %>
  <% end %>
</div>

<!-- Product List -->
<div class="row">
  <% if @products.any? %>
    <% @products.each do |product| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to product.name, product_path(product), class: 'text-decoration-none' %>
            </h5>
            <p class="card-text">Price: <%= number_to_currency(product.price) %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-12">
      <p>No products found.</p>
    </div>
  <% end %>
</div>
